<div id="popup">
    <form id="form-container">
        <h1>New Joke</h1>
        <input id="category" type="text" placeholder="Category" name="category">
        <input id="setup" type="text" placeholder="Set up the joke" name="setup">
        <input id="delivery" type="text" placeholder="Punchline" name="delivery">
        <button id="createJoke" type="submit">Create joke</button>
    </form>
</div>